{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Marvel vs DC App</title>
<script>
  // JavaScript code
  document.addEventListener("DOMContentLoaded", function () {
    // Get all the elements you need
    var input = document.getElementById("input-box");
    var btnKeyword = document.querySelectorAll(".btn-keyword");
    var btnSubmit = document.getElementById("btn-submit");
    var filmNames = document.querySelectorAll(".film-name");
    var url = window.location.href;
    var filmsContainer = document.getElementById("films-container");
  
    var filmsValue = filmsContainer.getAttribute("data-films");
    var filmWikiUrisValue = filmsContainer.getAttribute("data-film-wiki-uris");
  
    var films = filmsValue.split(', ');
    var filmWikiUris = filmWikiUrisValue.split(', ');
    console.log(filmWikiUris)
  
    // Function to create and append film links
    function createfilmLink(film, uri) {
      var filmLink = document.createElement("a");
      filmLink.href = "#"; // Use "#" as a placeholder for now
      filmLink.target = "_blank";
      filmLink.style.fontWeight = "600";
      filmLink.style.textDecoration = "none";
      filmLink.style.cursor = "pointer";
      filmLink.style.color = "blue";
      filmLink.textContent = film;
  
      filmLink.addEventListener("click", function (e) {
        // Handle click logic if needed
        e.preventDefault(); // Prevent default link behavior
  
        // Perform an HTTP POST request with the person_wiki_uri
        var filmWikiUri = uri;
        // Replace "#" with the actual endpoint URL
        var endpointUrl = "{% url 'marvel_dc_app:get_film_detail' %}"; // Replace with your endpoint URL
        performHttpPost(endpointUrl, filmWikiUri);
      });
  
      return filmLink;
    }
  
    // Append films to the films container
    films.forEach(function (film, index) {
      var filmLink = createfilmLink(film, filmWikiUris[index]);
      filmsContainer.appendChild(filmLink);
  
      // Add a comma after each film except the last one
      if (index < films.length - 1) {
        filmsContainer.appendChild(document.createTextNode(", "));
      }
    });
  
    // Add click event listeners to btnKeyword elements
    btnKeyword.forEach(function (btn) {
      btn.addEventListener("click", function () {
        var data = btn.getAttribute("data-pk");
        input.value = data;
        btnSubmit.click();
      });
    });
  });
  
  // Function to perform an HTTP POST request
  function performHttpPost(url, data) {
    // Create a form element
    var form = document.createElement("form");
    form.action = url;
    form.method = "post";
    form.target = "_blank";
  
    // Create an input field for person_wiki_uri
    var input = document.createElement("input");
    input.type = "hidden";
    input.name = "film_wiki_uri";
    input.value = "wd:" + data.slice(31); // Assuming data is the person_wiki_uri
    console.log(input.value)
  
    // Append the input field to the form
    form.appendChild(input);
  
    // Append the form to the document and submit it
    document.body.appendChild(form);
    form.submit();
  }
  </script>
<style>
.main {
    width: 100%;
  }

  header {
    border-bottom: 0.1px solid #ced4da;
    display: flex;
    flex-direction: column;
    align-items: flex-filmt;
    height: 115px;
    justify-content: center;
  }

  .header {
    display: flex;
    align-items: center;
    height: 80px;
    gap: 3em;
  }

  form {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .form-group,
  .btn-group {
    width: 100%;
    height: 45px;
  }

  .form-group {
    border-radius: 1em;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  }

  .form-group:hover {
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.1);
  }

  .form-control {
    border-radius: 0;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border-right: none;
  }

  .form-control:active,
  .form-control:focus {
    border-color: #ced4da;
  }

  .btn-submit {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: transparent;
    border-color: #ced4da !important;
    border-left: none;
  }

  .btn-submit:hover {
    background-color: transparent !important;
  }

  .btn-submit img {
    width: 30px;
    height: 30px;
  }

  p {
    margin-bottom: 7px;
  }
</style>
{% endblock meta %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgba(255, 255, 255, 0.7); z-index: 1000;">
      <div class="container mt-4">
          <!-- Brand/logo -->
          <a class="navbar-brand" href="{% url 'marvel_dc_app:index' %}">
              <span style="color: red; font-size: 20px;">Marvel</span>
              <span style="color: black; font-size: 20px;">vs</span>
              <span style="color: blue; font-size: 20px;">DC</span>
          </a>
  
          <!-- Navbar links -->
          <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
              <form method="POST" action="{% url 'marvel_dc_app:search_result' %}" class="d-flex mt-4 w-75">
                  <input name="search" id="search-bar" class="form-control rounded-pill me-2" type="search" placeholder="Search" aria-label="Search" value="{{ query|default_if_none:'' }}" style="flex-grow: 1; max-width: 80%;">
                  <button class="btn btn-outline-success rounded-pill">
                      <i class="fa fa-search" style="font-size:24px"></i>
                  </button>
              </form>
          </div>
  
      </div>
  </nav>
    <div class="container" style="margin-top: 130px;"">
      <div style="padding: 0 10px">
        <p style="border-bottom: 2.5px solid #4385f6; width: fit-content">
          Person's Details
        </p>
      </div>
    </div>
  <div class="container search-result">
    <div style="display: flex; gap: 25px; margin-top: 20px">
      <div class="left">
        {% if data2.0.image.value|length > 0 %}
        <img
          alt="film-foto"
          style="
            width: 200px;
            height: 250px;
            object-fit: contain;
            border-radius: 0.7em;
            box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
          "
          src="{{data2.0.image.value}}"
        />
        {% else %}
        <img
          alt="film-foto"
          style="
            width: 200px;
            height: 250px;
            object-fit: cover;
            border-radius: 0.7em;
            box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
          "
          src="https://media.discordapp.net/attachments/827827671991582730/1050115537843261581/default-profile-picture-avatar-photo-placeholder-vector-illustration-default-profile-picture-avatar-photo-placeholder-vector-189495158.png?width=656&height=656"
        />
        {% endif %}
      </div>
      <div class="right">
        <h5>{{data.0.person_name.value}}</h5>
        {% if data.0.date_of_birth.value|length > 0%}
        <p>Date of Birth: {{data.0.date_of_birth.value}}</p>
        {% endif%} {% if data.0.sex.value|length > 0%}
        <p>Sex: {{data.0.sex.value}}</p>
        {% endif%} {% if data.0.nationalities.value|length > 0 %}
        <p>Nationalities: {{data.0.nationalities.value}}</p>
        {% endif%} {% if data.0.associated_films.value|length > 0 %}
        <div style="width: 100%;">
          <p>Associated films:</p>
          <div id="films-container"
               data-films="{{ data.0.associated_films.value }}"
               data-film-wiki-uris="{{ data.0.associated_films_wiki_uri.value }}"></div>
        </div>
        {% endif%} {% if data2.0.awarded_for.value|length > 0 %}
        <p>Winning Award: {{data2.0.awarded_for.value}}</p>
        {% endif%} {% if data2.0.nominated_for.value|length > 0 %}
        <p>Nominated Award: {{data2.0.nominated_for.value}}</p>
        {% endif%} {% if data2.0.occupations.value|length > 0 %}
        <p>Occupations: {{data2.0.occupations.value}}</p>
        {% endif%}
      </div>
    </div>
  </div>
  <!-- Modal -->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Error</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">No Data in Wikidata and Local</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}